@import url(../../reset.css);


html {
    font-family: "Noto Sans TC", "Noto Sans", sans-serif;
    font-size: 62.5%;            /* 預設字級調整為10px */
    letter-spacing: 0.2em;

    background-color: #fff;       /* 讓漢堡選單在白底時變黑色 */

}

h1,h2,h3,h4,h5,h6,p {line-height: 200%;}
h1 {font-size: 3.2rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 2.2rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}
p {font-size: 1.4rem;}

*, *::before, *::after {
    box-sizing: border-box;
}

/*---------------------------------- body */

.top-fixed {
    height: 80px;
    width: 30%;
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 20;
}

.fa-bars-staggered {
    margin-left: 60px;
    font-size: 2rem;
    mix-blend-mode: difference;
}

.btn-home {
    height: 50%;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 10px;
}

.top-fixed img {
    height: 70%;
}

body>.fa-chevron-up {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 5;

    color: #020F1A;
    font-size: 2rem;
}

/* .top-fixed .fa-bars-staggered:hover~.btn-menu {
    left: 0%;
} 現在先不處理這件事，因為之後要變成click事件*/

/* 漢堡選單 ----------------------------------*/
.btn-menu {
    background-color: #F0F9FF;
    position: fixed;
    z-index: 30;
    width: 100%;
    padding: 0 60px 20px;
    left: -100%;
}

.nav1 {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.fa-xmark {
    font-size: 2rem;
    color: #020F1A;
}

.btn-logo {
    height: 50%;
    margin-left: 15px;
    display: inline-block;
    margin-top: 10px;
}

.nav1 img {
    height: 70%;
}

.nav1 a:last-of-type {
    color: #020F1A;
    font-size: 1.8rem;
    margin-left: auto;
    line-height: 25px;
    text-decoration: none;
    border-bottom: 1px solid #020F1A;
}

.nav2 .menu-list a {
    font-size: 3.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #020F1A;
    line-height: 50px;
    display: inline-block;
    margin-left: 30%;

    background-image: linear-gradient(to right, #020F1A, #020F1A);
    background-repeat: no-repeat;
    background-position: right bottom;
    /* 固定在右邊，才會從右邊離開 */
    background-size: 0% 2px;
    transition: background-size 0.4s ease-out;
}

.menu-list a:hover {
    /* 將寬度從 0% 變為 100%，線條就會從左邊滑出填滿整個文字寬度 */
    background-size: 100% 2px;
    background-position: left bottom;
}

.nav3 {
    display: flex;
    align-items: flex-end;
    padding-top: 40px;
}

.nav4 {
    width: 25%;
}

.nav4 p {
    font-size: 1.2rem;
}

.nav4 p:nth-of-type(2) {
    font-weight: bold;
}

.nav4 a {
    font-size: 1.2rem;
    color: #5d5d5d;
    font-weight: lighter;
    line-height: 200%;
}

.nav5 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 5%;
    width: 70%;
}

.nav-social {
    display: flex;
}

.nav-social li {
    margin-right: 30px;
}

.nav-social a:hover {
    color: #CC8956;
}

.nav-social a {
    font-size: 1.8rem;
    line-height: 200%;
    text-decoration: none;
    color: #7F7F7F;

    display: block;
}

.nav5>a {
    font-size: 1.4rem;
    color: #7F7F7F;
    line-height: 200%;
    margin-left: auto;
}

/*---------------------------------- header */

.header {
    height: 60vh;
    background-image: url(../../assets/bgi/faq.jpg);
    background-size: cover;
    background-position: center -260px;
    background-repeat: no-repeat;

    overflow: hidden;
}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 18vw;

    padding: 0 60px;
    height: 80px;
    width: 100%;
}

.btn-contact{
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    display: block;
}

.top ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    gap: 30px;
}

.top ul a {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    display: block;
}

/*搜尋框 ----------------------------------*/

.search {
    width: 360px;
    height: 48px;
    margin: 20vh auto;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;

    padding: 10px;
    /* box-sizing: border-box; */
}

.search-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-submit-btn {
    border: 0;
    background-color: #fff;
    cursor: pointer;
    height: 100%; 
}

.search .fa-magnifying-glass {
    color: #7F7F7F;
    font-size: 1.6rem;
}

.search input {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family:  "Noto Sans TC", "Noto Sans", sans-serif;
    color: #020F1A;
    border: 0;
    width: 300px;  
}

.search input[type="search"] {
    color: #7F7F7F;
}

.search input[type="search"]:focus {
    outline: 0;
}

.search input[type="search"]::-webkit-search-cancel-button {
    /* 核心設定：將元素從佈局中移除 */
    -webkit-appearance: none;
    
    /* 額外加上 display: none; 確保在某些情況下也能隱藏 */
    display: none;
}

/*---------------------------------- main */
.main {
    margin: 160px 135px;
}

/*asids ----------------------------------*/
aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 112px;
}

aside h1 {
    font-weight: bold;
}
.tab-btn {
    text-decoration: none;
    font-size: 1.6rem;
    color: #020F1A;
    display: inline-block;
    text-align: center;
    width: 152px;
    line-height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin: 16px 16px 16px 0;
}

.tab-btn:hover {
    background-color: #E3C5A4;
    color: #020F1A;
    border: 1px solid #d1d1d100;
}

.tab-btn.active {
    background-color: #E3C5A4;
    color: #020F1A;
    border: 1px solid #d1d1d100;
}

/*article ----------------------------------*/

.law {
    /* display: none; */
}

.structure {
    display: none;
}

.cost {
    display: none;
}

.design {
    display: none;
}

.qa {
    color: #7F7F7F;
}

.q {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 28px;
    text-decoration: none;
    color: #7F7F7F;
}

.qa hr {
    margin-bottom: 28px;
    border: 1px solid #d1d1d1;
}

.qa .fa-chevron-up, .qa .fa-chevron-down {
    color: #020F1A;
    font-size: 2rem;
}

.ans {
    padding: 28px 56px;
    border-top: 1px solid #d1d1d1;
}

/*連結效果 ----------------------------------*/
.q:visited {
    color: #020F1A;
}

.q:hover, .q:active{
    color: #0065A5;
}

.ans a:link {
    color: #CC8956;
}

.ans a:visited {
    color: #8E3D2F;
}

.ans a:hover, .ans a:active{
    color: #0065A5;
}

/*---------------------------------- footer */


footer {
    background-color: #F0F9FF;
    padding: 80px 60px 60px;
}

footer hr {
    border: 0.5px solid #d1d1d1;
}

footer hr:nth-last-of-type(1) {
    display: none;
}

.menu {
    display: flex;
    padding: 10px 0;
}

.menu li {
    margin-right: 15px;
}

.menu li:last-child {
    margin-left: auto;
    margin-right: 0;
}

.menu a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #020F1A;
    line-height: 30px;
    display: inline-block;

    background-image: linear-gradient(to right, #020F1A, #020F1A);
    background-repeat: no-repeat;
    background-position: right bottom;
    /* 固定在右邊，才會從右邊離開 */
    background-size: 0% 2px;
    transition: background-size 0.4s ease-out;
}

.menu a:hover {
    /* 將寬度從 0% 變為 100%，線條就會從左邊滑出填滿整個文字寬度 */
    background-size: 100% 2px;
    background-position: left bottom;
}

.social {
    display: flex;
}

.social li {
    margin-right: 30px;
}

.social a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #7F7F7F;
    line-height: 72px;
    display: block;
}

.social a:hover {
    color: #CC8956;
}

.bottom {
    display: flex;
    align-items: flex-end;
    margin-top: 160px;
}

.bottom img {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 8px;
}

.word-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 70%;
}

.word-bottom div p {
    color: #7F7F7F;
    font-size: 1.4rem;
}

.mail {
    text-decoration: underline;
    margin-left: 4px;
}

.word-bottom a {
    font-size: 1.4rem;
    color: #7F7F7F;
    margin-left: auto;
    line-height: 200%;
}

/*----------------------------------------------- RWD */
/*----------------------------------------------- RWD 1200*/
@media screen and (max-width: 1200px){}
/*----------------------------------------------- RWD 992*/
@media screen and (max-width: 992px){
    /*---------------------------------- 漢堡選單 */
    .nav2 {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .nav2 .menu-list a {
        margin-left: 0;
    }

    .nav3 {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav4 {
        width: 70%;
        padding-bottom: 40px;
    }

    .nav4 p {
        font-size: 1.6rem;
    }

    .nav4 a {
        font-size: 1.6rem;
    }

    .nav5 {
        margin-left: 0;
        width: 100%;

        border-top: 0.5px solid #d1d1d1;
        padding-top: 10px;
    }

    /*---------------------------------- header */
    .top {
        column-gap: 13vw;
    }
    
    .top ul {
        width: 55%;  
    }

    /*---------------------------------- footer */
    .bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 20px;
    }

    .word-bottom {
        width: 100%;
        margin-bottom: 160px;
    }

    .bottom img {
        width: 40%;
    }

    .word-bottom {
        align-items: flex-start;
    }
}
/*----------------------------------------------- RWD 768*/
@media screen and (max-width: 768px){
    /*---------------------------------- header */
    .top ul {
        display: none;
    }
}
/*----------------------------------------------- RWD 576*/
@media screen and (max-width: 576px){
     /*---------------------------------- 漢堡選單 */
    .btn-menu {
        padding: 0 40px 20px;
    }

    .nav2 {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .nav2 .menu-list a {
        font-size: 2.4rem;
        line-height: 35px;
    }

    .nav4 {
        width: 100%;
    }

    .nav4 p {
        font-size: 1.4rem;
    }

    .nav4 a {
        font-size: 1.4rem;
    }

    .nav-social {
        flex-direction: column;
    }

    .nav-social li {
        margin-right: 15px;
    }

    .nav-social a {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 150%;
    }

    .nav5>a {
        font-size: 1.2rem;
    }

    /*---------------------------------- body */
    .fa-bars-staggered {
        margin-left: 40px;
    }

    /*---------------------------------- header */
    .top {
        padding: 0 40px;
    }

    /*---------------------------------- footer */
    .menu {
        flex-direction: column;
        margin-bottom: 150px;
    }

    .menu li:last-child {
        margin-top: -150px;
    }

    .social {
        flex-direction: column;
        margin: 10px 0;
    }

    .social a {
        line-height: 30px;
    }

    hr:nth-last-of-type(2) {
        display: none;
    }

    hr:nth-last-of-type(1) {
        display: block;
    }

    .word-bottom div p,
    .word-bottom a {
        font-size: 1.2rem;
        letter-spacing: 0.1em;
    }

    .word-bottom div {
        width: 60%;
    }
}
/*----------------------------------------------- RWD 440*/
@media screen and (max-width: 440px){
    /*---------------------------------- 漢堡選單 */
    .btn-menu {
        padding: 0 20px 20px;
    }

    .nav2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .nav4 {
        padding-bottom: 30px;
    }

    /*---------------------------------- body */
    .fa-bars-staggered {
        margin-left: 20px;
    }

    /*---------------------------------- header */
    .top {
        padding: 0 20px;
    }

    /*---------------------------------- footer */
    footer {
        padding: 80px 40px 60px;
    }

    .mail {
        word-break: break-all;
    }
}