@import url(../../reset.css);


html {
    font-family: "Noto Sans TC", "Noto Sans", sans-serif;
    font-size: 62.5%;
    /* 預設字級調整為10px */
    letter-spacing: 0.2em;
}

h1, h2, h3, h4, h5, h6, p {line-height: 200%;}
h1 {font-size: 3.2rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 2.2rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}
p {font-size: 1.4rem;}

/*---------------------------------- body */

body>i {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2;

    color: #020F1A;
    font-size: 2rem;
}


/*---------------------------------- header */

.header {
    height: 80px;
    overflow: hidden;
}

.bgi {
    width: 100%;
    display: block;

    position: relative;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 60px;
    height: 80px;
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 10;
}

.btn-back {
    height: 50%;
    text-decoration: none;
}

.top img {
    height: 100%;
}

.btn-contact{
    font-size: 1.8rem;
    color: #020F1A;
    text-decoration: none;
    line-height: 25px;
    border-bottom: 2px solid #020F1A;
    display: block;
}

.top ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.top ul a {
    font-size: 1.8rem;
    color: #020F1A;
    text-decoration: none;
    line-height: 60px;
    display: block;
}

/*---------------------------------- main */
main {
    margin: 160px 0;
}

/*---------------------------------- intro */
.intro {
    margin: 0 135px 160px;
}

.intro h1 {
    color: #020F1A;
    font-weight: bold;
}

.intro h6 {
    color: #7F7F7F;
}
/*---------------------------------- partner-co */

.partner-co {
    display: flex;
    justify-content: space-around;
    margin: 0 135px 320px;
}

.partner-co-pic1, .partner-co-pic2 {
    width: 30vw;
    height: 40vh;
}

.partner-co-pic2 {
    margin-top: 10vh;
}

.partner-co-pic1 >img, .partner-co-pic2 >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: .9;
}

.partner-co figcaption {
    color: #020F1A;
    font-size: 2.4rem;
    line-height: 200%;
    margin-left: 25px;
    letter-spacing: 0.2em;
    font-weight: 600;
}

.partner-co h5 {
    color: #7F7F7F;
    margin-left: 25px;
}

/*---------------------------------- partner */

.partner .pic {
    display: flex;
    gap: 32px;
    justify-content: center;
    overflow: hidden;
}

.partner-pic {
    flex-shrink: 0;
    width: 368px;
    height: 65vh;

    position: relative;
}

.partner-pic img{
    height: 100%;  
    width: 100%;  
    object-fit: cover;
    border-radius: 10px;
    /* opacity: .8; */
}

.pic2 img {
    object-position: center 0;
}

.pic5 img {
    object-position: center -10px;
}

.partner-pic-name {
    position: absolute;
    bottom: 0px;
    margin: auto;
    color: #fff;
    width: 100%;
    border-radius: 0 0 10px 10px;

    background-image: linear-gradient(180deg, #7f7f7f00 0%, #b0b0b0 100%);
}

.partner-pic-name h2, .partner-pic-name h5{
    margin-left: 25px;
    font-weight: bold;
}

.partner-pic-name h2 {
    font-weight: bold;
}

.partner-pic-name h5 {
    margin-bottom: 20px;
}




/*---------------------------------- footer */

footer {
    background-color: #F0F9FF;
    padding: 80px 60px 60px;
}

.menu {
    display: flex;

    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;

}

.menu li {
    margin-right: 40px;
}

.menu a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #020F1A;
    line-height: 60px;
    display: block;
}

.social {
    display: flex;
}

.social li {
    margin-right: 30px;
}

.social a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #7F7F7F;
    line-height: 80px;
    display: block;
}

.bottom {
    display: flex;
    align-items: flex-end;
    margin-top: 80px;
}

.bottom img {
    width: 30%;
    margin-right: 20px;
    margin-bottom: -15px;
}

.bottom div p {
    color: #7F7F7F;
    font-size: 1.4rem;
}

.bottom div {
    margin-bottom: -4px;
}

.bottom a {
    font-size: 1.4rem;
    color: #7F7F7F;
    margin-left: auto;
}