@import url(../../reset.css);


html {
    font-family: "Noto Sans TC", "Noto Sans", sans-serif;
    font-size: 62.5%;
    /* 預設字級調整為10px */
    letter-spacing: 0.2em;
}

h1, h2, h3, h4, h5, h6, p {line-height: 200%;}
h1 {font-size: 3.2rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 2.2rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}
p {font-size: 1.4rem;}

/*---------------------------------- body */

body>i {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2;

    color: #020F1A;
    font-size: 2rem;
}


/*---------------------------------- header */

.header {
    height: 80px;
    overflow: hidden;
}

.bgi {
    width: 100%;
    display: block;

    position: relative;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 60px;
    height: 80px;
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 10;
}

.btn-back {
    height: 50%;
    text-decoration: none;
}

.top img {
    height: 100%;
}

.btn-contact{
    font-size: 1.8rem;
    color: #020F1A;
    text-decoration: none;
    line-height: 25px;
    border-bottom: 2px solid #020F1A;
    display: block;
}

.top ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.top ul a {
    font-size: 1.8rem;
    color: #020F1A;
    text-decoration: none;
    line-height: 60px;
    display: block;
}

/*---------------------------------- main */
main {
    margin: 160px 0;
}

/*---------------------------------- type */
.type {
    margin: 0 135px 160px;
    display: flex;
    align-items: center;
}

.type h1 {
    color: #020F1A;
    font-weight: bold;
    margin-right: 68px;
}

.type i {
    color: #020F1A;
    font-size: 2rem;
    margin-right: 16px;
    cursor: pointer;

}

.type h2 {
    color: #020F1A;
    border-bottom: 1px solid #020F1A;
    cursor: pointer;
}

/*---------------------------------- event */

.event {
    width: calc(100%-135px);
    margin: 160px 135px 0;

    overflow: hidden;

}

.event ul {
    display: grid;
    column-gap: 28px;
    row-gap: 48px;

    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 160px;
}


/* event img ----------------------------------*/
.event li a:first-child {
    display: block;
    height: 60vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.event li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}



/* event word ----------------------------------*/
.event li a+a {
    text-decoration: none;
    text-align: left;
}

.event h6 {
    color: #020F1A;
    font-weight: bold;
    /* height: 40px; */
    line-height: 160%;
}

.event h6+p {
    color: #7F7F7F;
    margin: 10px 0;
    font-weight: bold;
    height: 40px;
    line-height: 160%;
}

.event p {
    font-size: 1.4rem;
}

.event .black {
    color: #020F1A;
}

.event .gray {
    color: #7F7F7F;
}

.event .ac {
    display: flex;
    justify-content: left;
    border-top: 1px solid #d1d1d1;
}

.area {
    display: flex;
}

.completion {
    display: flex;
    margin-left: 10px;
}

/* event more ----------------------------------*/
.event>a {
    font-size: 2.4rem;
    color: #7F7F7F;
    display: block;
    width: 120px;
    margin: 0 auto;
    
    line-height: 80px;
}

.text-wrapper {
    display: flex;
    justify-content: center;    
}

.text-wrapper span:last-child {
    letter-spacing: 0; 
}

/*---------------------------------- footer */

footer {
    background-color: #F0F9FF;
    padding: 80px 60px 60px;
}

.menu {
    display: flex;

    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;

}

.menu li {
    margin-right: 40px;
}

.menu a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #020F1A;
    line-height: 60px;
    display: block;
}

.social {
    display: flex;
}

.social li {
    margin-right: 30px;
}

.social a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #7F7F7F;
    line-height: 80px;
    display: block;
}

.social a:hover{
    color: #CC8956;
}

.bottom {
    display: flex;
    align-items: flex-end;
    margin-top: 80px;
}

.bottom img {
    width: 30%;
    margin-right: 20px;
    margin-bottom: -15px;
}

.bottom div p {
    color: #7F7F7F;
    font-size: 1.4rem;
}

.bottom div {
    margin-bottom: -4px;
}

.bottom a {
    font-size: 1.4rem;
    color: #7F7F7F;
    margin-left: auto;
}